<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="SentinelCore" value=".packages/SentinelCore/v0.3.1.0" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="SentinelCore">
      <package pattern="MarshalTitan.SentinelCore*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Dalamud*" />
      <package pattern="DotNet.ReproducibleBuilds" />
    </packageSource>
  </packageSourceMapping>
</configuration>
